@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.logo-box {
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin: 22px 27px;
}

.logo-name {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    margin: 22px 27px;
}

.header {
    background-color: #313131;
   

}

.header-menu {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.header-menu li {
    display: inline;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 600;
    line-height: 20px;
}

.serch {

}