@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: Roboto;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    width: 100%;
    height: 150px;
    display: flex;
}

.logo a {
    text-decoration: none;
    padding-top: 61px;
    font-size: 80px;
    color: aqua;
    line-height: 90px;
    letter-spacing: 5px;
    cursor: pointer;
}

.logo a span {
    color: #000000;
}

.navbar {
    margin-top: 38px;
}

.nav-list {
    display: flex;
    width: 100%;
    list-style-type: none;
    background-color: #35444f;
    color: #ffffff;
    height: 72px;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
}

.nav-list_item {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.nav-list_item:not(:last-child) {
    border-right: 1px solid #ffffff;
    justify-content: space-around;
}

.nav-list_item:first-child {
    min-width:  160px;
    max-width: 160px;
    cursor: default;
}

.nav-list_item:last-child {
    padding-left: 40px;
}

.nav-list_item:not(:first-child):hover {
    background-color: #222F3A;
}

.section-colum {
    display: inline-block;
    list-style-type: none;
    color: #485863;
    border: 1px solid #000000;
    align-items: flex-start;
    font-size: 27px;
    width: 344px;
    padding: 0;
    margin: 0;
}

.section-colum_item {
    padding-left: 42px;
    height: 81px;
    display: flex;
    align-items: center;
}

.section-colum_item:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

.content {
    margin-left: 52px;
}

.text {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 24px;
    margin-top: 38px;
}

.main {
    display: flex;
    margin-top: 45px;
}

.content_img {
    height: 529px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list { 
    display: flex;
    list-style-type: none;
    background: rgba(99, 105, 110, 0.48);
    color: #010101;
    height: 69px;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    padding: 0; 
}

.footer-list_item {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.footer-list_item:hover  p {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-list_item p {
    padding-bottom: 8px;
}
